* {
  margin-bottom: 20px;
  outline-color: #000;
  outline-offset: 1px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.logo {
  width: 203px;
  height: 90px;
  margin-left: 620px;
  margin-right: 538px;
  margin-top: 47px;
  margin-bottom: 0px;
  text-align: center;
}

.InputId > input {
  width: 305px;
  height: 60px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #fff;
  color: #999;
  margin-left: 470px;
  margin-right: 569px;
  margin-top: 20px;
  position: absolute;
}

.InputId > button {
  width: 150px;
  height: 60px;
  border: 1px solid #3e2279;
  border-radius: 5px;
  background: #fff;
  color: #3e2279;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 800px;
  margin-right: 425.24px;
  margin-top: 22px;
  position: relative;
  cursor: pointer;
}

.InputPw > input {
  width: 475px;
  height: 60px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #fff;
  margin-left: 470px;
}

.InputEmail > input {
  width: 215px;
  height: 57px;
  margin-left: 470px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #fff;
}

.InputEmail > select {
  width: 225px;
  height: 57px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #fff;
}

.InputPhoneNumber > input {
  width: 305px;
  height: 57px;
  margin-left: 470px;
  margin-right: 18px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  background: #fff;
}

.InputPhoneNumber > button {
  width: 152px;
  height: 57px;
  border: 1px solid #3e2279;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  color: #3e2279;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.ConfirmSignUp > button {
  width: 170px;
  height: 40px;
  border-radius: 50px;
  background: #3e2279;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 630px;
  margin-top: 15px;
  cursor: pointer;
}
