.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .width{
    width:100%;
  }

  .height {
    height:100%;
  }

  .logo {
    margin-bottom: 10px;
    margin-top:30%;
  }
  
  .signup {
    width: 250px;
    height: 60px;
    border-radius: 50px;
    background: #8277FF;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
  }