.EditProfileWrap {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;

  margin-top: 300px;
}
 
.EditProfileWrap > .PageInfo {
  display: flex;
  flex-direction: row;
}

.EditProfileWrap > .PageInfo > .back {
  display: block;
  margin-top: -290px;
  margin-left: -220px;
}

.EditProfileWrap > .PageInfo > .PageTitle {
  display: inline-block;

  margin-top: -291px;
}
.UserPicture {
  display: flex;
  flex-direction: column;
}

.UserPicture > .userImage {
  width: 200px;
  height: 200px;

  border-radius: 100px;

  margin-bottom: 10%;
  margin-left: -50px;
}

.changeImage {
  width: 138px;
  height: 41px;
  flex-shrink: 0;

  color: #000;
  font-family: Pretendard-Variable, "굴림";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: none;
  margin-left: -20px;

  border-radius: 10px;

  cursor: pointer;
}

.EditInfo {
  display: flex;
  flex-direction: column;

  /* justify-self: space-evenly; */

  width: 300px;
  height: 280px;

  margin-right: 3vw;
}

.EditInfo input {
  border: 1px solid #8277ff;
  border-radius: 5px;

  margin-bottom: 20px;

  width: 280px;
  height: 80px;

  padding-left: 10px;
}

.EditInfo button {
  border: none;
  border-radius: 10px;

  width: 100px;
  height: 65px;

  align-self: flex-end;

  background: #8277ff;
  color: #fff;

  text-align: center;
  font-family: Pretendard-Variable, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.EditInfo button:disabled {
  border: none;
  border-radius: 10px;

  width: 100px;
  height: 65px;

  align-self: flex-end;

  background: rgb(152, 150, 150);
  color: #fff;

  text-align: center;
  font-family: Pretendard-Variable, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.EditInfo input::placeholder {
  margin-left: 10px;
}

.ErrorMessageWrap {
  color: rgb(255, 30, 30);
  font-size: 5px;
  font-family: Pretendard-=Variable, "굴림";
  font-weight: 400;

  display: block;
  margin-top: -5%;
  margin-bottom: 5%;
}
