.LoginWrap {
  display: flex;
  flex-direction: column;
}

.LoginWrap > .TopNav {
  background-position: 0 -15vh;

  width: 1480px;
  height: 230px;
}

.LoginWrap > .logo {
  display: block;

  margin-left: 630px;
  margin-top: -7vh;

  width: 203px;
  height: 90px;
}

.LoginInputWrap {
  display: grid;

  justify-content: space-evenly;
}

.InputName {
  width: 390px;
  height: 60px;
  flex-shrink: 0;

  border: 1px solid #c1c1c1;
  border-radius: 7px;

  display: block;

  margin-top: 5vh;

  padding-left: 10px;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.InputGrade {
  width: 390px;
  height: 60px;
  flex-shrink: 0;

  border: 1px solid #c1c1c1;
  border-radius: 7px;

  display: block;

  margin-top: 50px;

  padding-left: 10px;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.InputClass {
  width: 390px;
  height: 60px;
  flex-shrink: 0;

  border: 1px solid #c1c1c1;
  border-radius: 7px;

  display: block;

  margin-top: 50px;

  padding-left: 10px;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.LoginInputWrap > .ErrorMessageWrap {
  display: block;

  font-size: 5px;
  font-family: Pretendard-Variable, "굴림";
  font-weight: 400;

  margin-top: 10px;
  margin-bottom: -10px;
}

.start:disabled {
  width: 300px;
  height: 70px;

  display: block;

  margin-top: 50px;
  margin-left: 50px;

  border: none;
  border-radius: 50px;

  background: rgb(171, 170, 170);

  color: #fff;
  text-align: center;
  font-family: Pretendard, "굴림";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.start {
  width: 300px;
  height: 70px;

  display: block;

  margin-top: 50px;
  margin-left: 50px;

  border: none;
  border-radius: 50px;

  background: #8277ff;

  color: #fff;
  text-align: center;
  font-family: Pretendard, "굴림";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  cursor: pointer;
}
