.LoginWrap {
  display: flex;

  flex-direction: column;

  margin-left: 43vw;
  margin-top: 25vh;
}

.LoginWrap > .TopNav {
  margin-top: -40vh;
  margin-left: -45vw;

  width: 105vw;
  height: 35vh;

  background-image: url("../img/TopNav.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 13vw;
  height: 10vh;

  margin-bottom: 6vh;
}

.LoginInputWrap {
  display: flex;
  flex-direction: column;

  margin-left: -7vw;
}

.LoginInputWrap input {
  width: 25vw;
  height: 6vh;

  padding-left: 1vw;
  margin-bottom: 1vh;

  border-radius: 5px;
  border: 2px solid #c1c1c1;

  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.LoginInputWrap input::placeholder {
  color: #c1c1c1;
  font-family: Inter;
  font-size: 0.7vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ErrorMessageWrap {
  color: rgb(233, 77, 77);

  font-size: 0.6vw;

  display: block;
  margin-bottom: 3vh;
}

.start {
  width: 15vw;
  height: 6vh;

  margin-left: 6vw;
  margin-top: 3vh;

  border: none;
  border-radius: 30px;

  background: #8277ff;

  color: #fff;
  text-align: center;
  font-family: Pretendard-Variable;
  font-size: 1vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.start:disabled {
  background-color: rgb(198, 190, 190);
}
