* {
  margin: 0;
  padding: 0;
}

.PageInfo {
  display: flex;
  flex-direction: row;
}

.PageInfo > .back {
  width: 30px;
  height: 30px;

  margin-left: 2vw;
  margin-top: 2vh;
}

.PageInfo > .PageTitle {
  margin-left: 1vw;
  margin-top: 2vh;

  color: #585858;
  font-family: Pretendard-Variable, "굴림";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
}

.ProductInfo > .productImage {
  width: 60vw;
  height: 43vh;

  margin-top: 5vh;
  margin-left: 19vw;
}

.ProductCommu {
  display: flex;
  flex-direction: row;

  width: 101vw;
  height: 5vh;

  border-radius: 20px 20px 0px 0px;
  background: #fff;
  box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.ProductCommu > .member {
  margin-left: 87vw;
  margin-top: 1.5vh;
  margin-right: 2vw;

  color: #585858;
  font-family: Pretendard-Variable;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ProductCommu > .comment {
  width: 1.7vw;
  height: 1.7vw;

  margin-top: 1vh;
}

.ProductInfo2 {
  width: 101vw;
  height: 70vh;

  background: #fff;

  position: absolute;
}

.ProductInfo2 > .ProductTitle {
  color: #585858;
  font-family: Pretendard-Variable;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.05px;

  margin-left: 20vw;
  margin-top: 7vh;
}

.ProductInfo2 > .ProductContent {
  color: #888;
  font-family: Pretendard-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-left: 20vw;
  margin-top: 4vh;
}

.ProductInfo2 > .ProductLink {
  color: #5849ff;
  font-family: Pretendard-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;

  margin-left: 20vw;
  margin-top: 8vh;
}

.ProductInfo2 > .ProductPrice {
  color: #000;
  font-family: Pretendard-Variable;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;

  margin-left: 20vw;
  margin-top: 3vh;
}

.ProductInfo2 > .nProductPrice {
  color: #5849ff;
  font-family: Pretendard-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-left: 20vw;
  margin-top: 3vh;
}

.ProductInfo2 > .WriterName {
  margin-left: 20vw;
  margin-top: 10vh;

  color: #888;
  font-family: Pretendard-Variable;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ProductInfo2 > .join {
  width: 25vw;
  height: 5vh;

  margin-left: 37vw;
  margin-top: 10vh;

  border-radius: 10px;
  border: none;
  background: #8277ff;

  color: #fff;
  text-align: center;
  font-family: Pretendard-Variable;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
