.ProfileWrap {
  margin: 0;
  padding: 0;
}

.ProfileWrap > .TopNav {
  height: 40vh;

  margin-top: -15vh;
  margin-left: -8vw;

  color: #fff;
  position: relative;

  background-image: url("../img/TopNav.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
}

.back {
  margin-top: 16vh;
  margin-left: 8.6vw;

  width: 2vh;
  height: 2vh;
}

.PageTitle {
  margin-top: 16.2vh;
  margin-left: 1.6vw;

  font-size: 0.9vw;
  font-family: Pretendard-Variable, sans-serif;
  font-weight: 600;
}

.UserInfo {
  display: flex;
  flex-direction: row;
}

.UserInfo > .userImage {
  width: 7vw;
  height: 7vw;

  margin-left: 15vw;
}

.UserInfo > .schoolInfo {
  margin-left: 9vw;

  display: flex;
  flex-direction: column;

  font-family: Pretendard, sans-serif;
}

.schoolInfo > .UserName {
  margin-top: 0.5vh;
  font-size: 1.4vw;
  font-weight: 500;
}

.schoolInfo > .UserGradeAndClass {
  font-size: 0.7vw;
  font-weight: 400;
  font-family: Pretendard-Variable, sans-serif;

  margin-top: 3vh;
}

.schoolInfo > .EditProfile {
  margin-top: 5vh;

  width: 4vw;
  height: 2vh;

  border: none;
  border-radius: 0.2vw;

  font-size: 0.5vw;
  font-weight: 600;

  text-align: center;
}

.UploadProduct {
  width: 12vw;
  height: 30vh;

  margin-right: 7vw;

  border: 1px solid #000;
  border-radius: 5px;

  background-image: url("../img/jetti.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
