.signUpWrapper {
  display: flex;
  flex-direction: column;
}

.signUpWrapper > .logo {
  margin: 0 auto;
  margin-top: 20vh;
}

.haAclf {
  margin-left: 20vw;
}

.GOOGLE {
  border: 3px solid red;
}

.nsm7Bb-HzV7m-LgbsSe-bN97Pc-sM5MNb {
  width: 100vw;
  border: 10px solid blue;
}

/* .GOOGLE:first-child {
  width: 100%;
} */
