.width {
  display: flex;
  flex-direction: column;
  width: 1480px;
  height: 832px;

  margin-top: 315px;
}

.width > .logo {
  display: block;

  margin: 0 auto;
  margin-bottom: 20px;

  width: 200px;
  height: 90px;
}

.width > .signupBtn {
  width: 300px;
  height: 70px;

  margin: 0 auto;

  border: none;
  border-radius: 50px;

  background: #8277ff;
  background-image: url("../img/google.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: 25px;

  color: #fff;
  font-family: Pretendard-Variable, "굴림";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
