.UploadProductWrap {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}

.UploadProductInfo {
  display: grid;

  justify-content: space-evenly;
}

.SelectImage {
  display: block;

  width: 620px;
  height: 200px;

  border: 2px solid #c1c1c1;
  border-radius: 5px;

  margin-top: 15vh;
  margin-left: -20px;
  margin-bottom: 10vh;

  background: #d3d3d3;
  background-image: url("../img/UploadPicture.png");
  background-repeat: no-repeat;
  background-position: 13vw center;

  color: #000;
  font-family: Pretendard-Variable, "굴림";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

  padding-left: 20px;
}

.InputTitle {
  display: block;

  width: 600px;
  height: 60px;

  border: 2px solid #c1c1c1;
  border-radius: 10px;

  margin-left: -20px;
  margin-bottom: 5vh;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-left: 20px;
}

.InputLink {
  display: block;

  width: 600px;
  height: 60px;

  border: 2px solid #c1c1c1;
  border-radius: 10px;

  margin-left: -20px;
  margin-bottom: 5vh;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-left: 20px;
}

.InputPrice {
  display: block;

  width: 600px;
  height: 60px;

  border: 2px solid #c1c1c1;
  border-radius: 10px;

  margin-left: -20px;
  margin-bottom: 5vh;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-left: 20px;
}

.InputMember {
  display: block;

  width: 600px;
  height: 60px;

  border: 2px solid #c1c1c1;
  border-radius: 10px;

  margin-left: -20px;
  margin-bottom: 5vh;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-left: 20px;
}

.InputContent {
  display: block;

  width: 600px;
  height: 160px;

  border: 2px solid #c1c1c1;
  border-radius: 10px;

  margin-left: -20px;
  margin-bottom: 5vh;

  color: #c1c1c1;
  font-family: Inter, "굴림";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  padding-left: 20px;
}

.UploadProductBtn {
  width: 570px;
  height: 50px;
  flex-shrink: 0;

  border: none;
  border-radius: 5px;

  background: #8277ff;

  color: #fff;
  text-align: center;
  font-family: Pretendard, "굴림";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding-left: 20px;
}
